@{
    ViewData["Title"] = "Products";
}

<h1>Our Products</h1>
<p>This page is handled by ProductsController.</p>
<ul>
    <li><a href="/shop/Products/item/1">Product 1</a></li>
    <li><a href="/shop/Products/item/2">Product 2</a></li>
</ul>
<a href="/Home" class="btn btn-primary">Back to Home</a>